<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div id="app">
        <h1 class="mb-5">Vue.js</h1>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group list-group-flush" >
                    <p v-if="cars.length == 0">Ничего не найдено</p>
                    <li class="list-group-item"
                        v-for="(car, index) of cars"
                        :class="{'bg': car.active == 1 ? true : false }">
                        <div class="row justify-content-between">
                            <div class="col-md-auto">
                                {{ car.name }}
                            </div>
                            <div class="col-md-auto">
                                <template v-if="car.active      ">
                                    <button class="btn btn-success" @click="active(index)">Отменить</button>
                                </template>
                                <template v-else>
                                    <button class="btn btn-success" @click="active(index)">Выполнить</button>
                                </template>
                                <button class="btn btn-danger" @click="remove(index)">Удалить</button>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
            <div class="col-md-6">
                <input class="form-control mb-3" v-model="carName" type="text" placeholder="Введите">
                <button class="btn btn-success" @click="add">Добавить</button>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="app.js"></script>
</body>
</html>

<!--<h1>vue.js</h1>
        <input class="form-control" type="text" v-model="message">
        <p>{{ message }}</p>-->